<h1 class="text-center mb_50">Blocipedia: Social, Markdown Wikis</h1>

<div class="sign_up_box text-center">
  <h3>Create and share Markdown Wikis</h3>
  <button class="btn btn-success mb_20"><%= link_to "Sign Up", new_user_registration_path %></button>
</div>

<div class="row text-center">
  <div class="col-md-6">
    <h3>Create as many public<br> wikis as you want!</h3>
    <h3>Free Plan</h3>
    <%= image_tag("no-money.jpg", :alt => "No money", class: 'img-responsive img-rounded money-img-size text-center') %>
  </div>
  <div class="col-md-6">
    <h3>Create private wikis!</h3>
    <br>
    <h3>Premium Plan</h3>
    <%= image_tag("money.jpeg", :alt => "Money", class: 'img-responsive img-rounded money-img-size text-center') %>
  </div>
</div>