@import 'base/epiceditor';  
@import 'preview/bartik';  
@import 'preview/github';  
@import 'preview/preview-dark';  
@import 'editor/epic-dark';  
@import 'editor/epic-light';

@import "bootstrap-sprockets";
@import "bootstrap";

.sign_up_box {
  border: 3px solid #000;
  border-radius: 5px;
  width: 50%;
  margin: auto;
}

.mb_20 {
  margin-bottom: 20px;

  a {
    color: white;
  }
}

.mb_50 {
  margin-bottom: 50px;
}

.mt_10 {
  margin-top: 10px;
}

.money-img-size {
  max-width: 200px;
  max-height: 200px;
  margin: auto;
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.underline {
  text-decoration: underline;
}

.outline {
  border: 1px solid #000;
}

.border_bottom {
  border-bottom: 1px solid #000;
}

.red {
  color: red;

  &:hover {
    color: darken(red, 10%);
  }
}