@import 'base/epiceditor';  
@import 'preview/bartik';  
@import 'preview/github';  
@import 'preview/preview-dark';  
@import 'editor/epic-dark';  
@import 'editor/epic-light';

@import "bootstrap-sprockets";
@import "bootstrap";

.mt_10 {
  margin-top: 10px;
}

.mt_40 {
  margin-top: 40px;
}

.mb_20 {
  margin-bottom: 20px;

  a {
    color: white;
  }
}

.mb_50 {
  margin-bottom: 50px;
}

.sign_up_box {
  border: 3px solid #000;
  border-radius: 5px;
  width: 50%;
  margin: auto;
}

.checkbox {
  input.ml_10 {
    margin-left: 10px;
  }
}

.ml_21 {
  margin-left: 21px;
}

.money-img-size {
  max-width: 200px;
  max-height: 200px;
  margin: auto;
}

.nav {
  margin-top: 5px;
}

.underline {
  text-decoration: underline;
}

.outline {
  border: 1px solid #000;
}

.border_bottom {
  border-bottom: 1px solid #000;
}

.no_border_bottom {
  border-bottom: none;
}

.red {
  color: red;

  &:hover {
    color: darken(red, 10%);
  }
}

div#epiceditor {
    margin-bottom: 30px;
}

.navbar-toggle {
  background-color: #fff;
  border: 1px solid #000;
}

.navbar-toggle .icon-bar {
  background-color: #000;
}

// #main_nav {
//   background-color: #eeeeee;
//   padding-bottom: 15px;
// }

.hamburger_hr {
  display: none;
}

.navbar-nav {
  li {
    a {
      color: #000;
      font-size: 20px;
      padding-top: 15px;

      &:hover {
        text-decoration: line-through;
      }
    }
  }
}

.user-info {
  margin-top: 15px;
}

// Responsiveness
@media screen and (max-width: 768px) {
  #main_nav {
    background-color: #eeeeee;
    padding-bottom: 15px;
  }

  .user-info {
    background-color: rgba(0,0,0,0.1);
    padding: 5px;
    border-radius: 5px;

    a {
      color: #fff;
    }
  }

  .hamburger_hr {
    border-top: 1px solid #000;
    margin: 20px 10px;
    display: block;
  }

  .navbar-nav {
    li {
      a {
        padding-top: 10px;
      }
    }
  }

  .nav {
    margin-top: 5px;
  }

  .mt10 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 700px) {
  .border_bottom {
    font-size: 5px;
  }

  .no_border_bottom {
    font-size: 5px;
  }
}