= form_tag charges_path do
  %h4 So what comes with being a WikiLand premium member?
  %p The ability to create your very OWN private wikis of course!
  %script.stripe-button{data: {key: @stripe_btn_data[:key], amount: @stripe_btn_data[:amount], description: @stripe_btn_data[:description]}, src: 'https://checkout.stripe.com/checkout.js'}